# Ignore node_modules directory
.vscode/
Python/lib/__pycache__/*

# Ignore job log files and test files/directories
*.o*
test*

# Ignore cluster-specific submission example files
sub-task-array.sh

# Ignore backup files
Python/RunRepeats_backup.py

# Ignore python and jupyter cache
manuscript-databases/GP-Training-HF_yk/.ipynb_checkpoints
Python/lib/__pycache__/*