This is the COSMO_BP86_TZVP configuration template for NWChem_Wrapper.

This template performs:
	. Quick geometry pre-optimization in vacuum (HF/def2-SVP)
	. Geometry optimization in vacuum (DFT BP86/def2-TZVP)
	. Geometry optimization in the COSMO solvation model

This template uses:
	. Def2-SVP (pre-optimization)
	. Def2-TZVP
	. DFT (BP86)

The following sections of the input to NWChem are written by the wrapper:
  . start
  . charge

After these sections have been written, the wrapper copies everything below the following line:
-------78963b1b48f356a19a3bdc8650728784-------

memory total 1000 mb 

geometry noautosym
  load initialGeometry.xyz
end

#----------------------------------------------
# Quick Geometry Pre-optimization in Vacuum
#----------------------------------------------

basis noprint
  * library def2-svp
end

scf
  print low
  maxiter 100
end

driver
  trust 0.1
  print low
  maxiter 1000
end

task scf optimize

#----------------------------------------------
# Geometry Optimization in Vacuum
#----------------------------------------------

basis noprint
  * library def2-tzvp
end

dft
  xc becke88 perdew86
  direct
  print low
  maxiter 1000
end

driver # outer loop for atom moves
  print low
  maxiter 1000
end

task dft optimize

#----------------------------------------------
# Geometry Optimization with Solvation Model
#----------------------------------------------

cosmo
  iscren -1 # Surrogate for infinite permittivity
  lineq 1   # Iterative numerical algorithm
  ificos 0  # Initial tessellation polyhedron (0 - octa | 1 - icosa)
  minbem 3  # Number of tessellation passes
  do_gasphase false # Do not perform gasphase (o vacuum) calculations
  do_cosmo_ks true  # COSMO model (ks or yk)
  print cosmo_mol_surface # Print segment areas (must be present)
end

task dft optimize
